@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.chord-sm{
	color: #000000;
	background-color: #cccccc;
	cursor: pointer;
}
.chord-lg{
	cursor: pointer;
}
#id_sheet{
	position: relative;
	padding-top: 10px;
	margin-bottom: 100px;
	font-family: 'Nanum Gothic Coding';
}
.chord-float{
	position: absolute;
}
.footer{
	border: 1px solid red;
	height:60px;
	background-color: yellow;
}
div{
	/*border: 1px solid black;*/
}
span{
	/*border: 1px solid red;*/
}
.favorite{
	color: red;
}