.chord-sm{
	color: #000000;
	background-color: #cccccc;
	cursor: pointer;
}
.chord-lg{
	cursor: pointer;
}
#id_sheet{
	padding-top: 10px;
	font-family: 'Nanum Gothic Coding';
	font-size: 16px;
}
.chord-float{
	position: absolute;
}
.favorite{
	color: red;
}
.chord-select{
	background-color: bisque;
}

/* ============================= */
.footer{
	visibility: hidden;
}
.MP_div_video_sm{
	width: 200px; 
	height: 100px;
	position:absolute;
	right: 0px;
	margin: 5px;
}
.MP_player_sm{
	width: 200px; 
	height: 100px;
}
#id_div_title_area{
	height: 110px;
}
#id-div-chord-area{
	visibility: visible;
}
#id_sheet{
	height:545px; 
	overflow-y: auto;
}
#metronome{
	height:6px;
	width:100%;
	border: 1px solid gray;
}
.speed-div{
	margin-left: 10px;
}
/* ============================= */
@media (max-width: 576px) {
	.footer{
		visibility: visible;
		position:fixed;
		bottom: 0px;
		border: 1px solid red;
		height:100px;
		width:100%;
		background-color: yellow;
		z-index: 1;
	}
	.MP_div_video_sm{
		position: fixed;
		left: 0px;
		bottom: 0px;
		width: 120px; 
		height: 100px;	
		margin: 0px;
		z-index: 2
	}
	.MP_player_sm{
		width: 120px; 
		height: 100px;	
		z-index: 2
	}
	.capo-div{
		position: fixed;
		bottom: 60px;
		left: 130px;
		z-index: 3;
	}
	.speed-div{
		position: fixed;
		bottom: 30px;
		left: 130px;
		margin-left: 0px;
		z-index: 3;
	}
	.button-div{
		position: fixed;
		bottom: 5px;
		right: 20px;
		z-index: 3;
		width: 60px;
	}
	#id_div_control_pannel{
		position: fixed;
		bottom: -10000px;
		right: -10000px;
		z-index: 3;
	}
	#id_div_title_area{
		height: 70px;
	}
	#id-div-chord-area{
		visibility: hidden;
		display: none;
	}
	/* 220 = 50 + 70 + 100 */
	#id_sheet{
		height: calc(100vh - 220px);
		overflow: auto;
		white-space: nowrap;
	}
	#metronome{
		height:6px;
		width:100vw;
		position:fixed;
		left: 0px;
		top:115px;
		z-index:4;
	}
}