
.root-btn{
	width: 45px;
	height: 45px;
	margin: 5px;
}

.type-btn{
	margin-right: 5px;
	width: 50px;
}

#id_type_list{
	margin-top: 30px;
}

.chord-btn{
	margin: 5px;
	height: 40px;
	/* padding: 5px; */
}

#id_chord_display{
	margin-top: 10px;
}

.chord-item{
	margin-top:15px;
}

.pointer{
	cursor: pointer;
}